# Windows Appx Applications/Packages
# 0 - Uninstall, 1 - Install, 2 - Don't change/skip

Microsoft.BingNews = 0
Microsoft.BingWeather = 0
Microsoft.GetHelp = 0
Microsoft.Getstarted = 0
Microsoft.MicrosoftOfficeHub = 0
Microsoft.MicrosoftSolitaireCollection = 2
Microsoft.MicrosoftStickyNotes = 0
Microsoft.People = 0
Microsoft.Todos = 0
Microsoft.WebMediaExtensions = 0
Microsoft.WindowsCamera = 2
microsoft.windowscommunicationsapps = 0
Microsoft.WindowsFeedbackHub = 0
Microsoft.WindowsMaps = 2
Microsoft.Windows.Photos = 2
Microsoft.WindowsSoundRecorder = 2
Microsoft.YourPhone = 0
Microsoft.ZuneMusic = 0
Microsoft.ZuneVideo = 0
Microsoft.Advertising.Xaml = 0

# Note:
# "Microsoft.Advertising.Xaml" is dependency for microsoft.windowscommunicationsapps, Microsoft.BingWeather