# Windows Power Options
# Time in minutes. Set "0" to turn off option

# Turn off the display - On Battery
monitor-timeout-dc=10

# Turn off the display - Plugged in
monitor-timeout-ac=20

# Turn off hard drive - On Battery
disk-timeout-dc=0

# Turn off hard drive - Plugged in
disk-timeout-ac=0

# Put the computer to sleep - On Battery
standby-timeout-dc=0

# Put the computer to sleep - Plugged in
standby-timeout-ac=0

# Hibernate computer - On Battery
hibernate-timeout-dc=0

# Hibernate computer - Plugged in
hibernate-timeout-ac=0